<section data-ng-controller="HomeController">
   <div id="wrapper">

   <form name="login-form" class="login-form" action="" method="post">
   
      <div class="header">
      <h1>Login Form</h1>
      <span>Fill out the form below to login to my super awesome imaginary control panel.</span>
      </div>
   
      <div class="content">
      <input name="username" type="text" class="input username" placeholder="Username" />
      <div class="user-icon"></div>
      <input name="password" type="password" class="input password" placeholder="Password" />
      <div class="pass-icon"></div>    
      </div>

      <div class="footer">
      <input type="submit" name="submit" value="Login" class="button" />
      <input type="submit" name="submit" value="Register" class="register" />
      </div>
   
   </form>

</div>
<div class="gradient"></div>
</section>

<script type="text/javascript">

$(function(){

    // Checking for CSS 3D transformation support
    $.support.css3d = supportsCSS3D();

    var formContainer = $('#formContainer');

    // Listening for clicks on the ribbon links
    $('.flipLink').click(function(e){

        // Flipping the forms
        formContainer.toggleClass('flipped');

        // If there is no CSS3 3D support, simply
        // hide the login form (exposing the recover one)
        if(!$.support.css3d){
            $('#login').toggle();
        }
        e.preventDefault();
    });

    formContainer.find('form').submit(function(e){
        // Preventing form submissions. If you implement
        // a backend, you will want to remove this code
        e.preventDefault();
    });

    // A helper function that checks for the
    // support of the 3D CSS3 transformations.
    function supportsCSS3D() {
        var props = [
            'perspectiveProperty', 'WebkitPerspective', 'MozPerspective'
        ], testDom = document.createElement('a');

        for(var i=0; i<props.length; i++){
            if(props[i] in testDom.style){
                return true;
            }
        }

        return false;
    }
});
</script>